@font-face {
    font-family: Adam; 
    src: url(../fonts/adam.otf); 
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
section {
    position: relative;
    height: 100%;
    text-align: center;
}
h1 {
    margin: 110px 0 20px 0;
    text-align: center;
    font-size: 60px;
    font-family: Adam;
    color: white;
}
h2 {
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 60px;
    font-family: Adam;
    color: white;
}
h3 {
    margin: 10px 0 10px 0;
    height: 10%;
    text-align: center;
    font-size: 30px;
    font-family: Adam;
    color: white;
}
h4 {
    margin: 10px 0 10px 0;
    height: 10%;
    text-align: center;
    font-size: 30px;
    font-family: Adam;
    color: white;
}
.button {
    border: 4px white solid;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    background-size: contain;
}
.main_button {
    margin: 0 auto;
    background-image: url(../images/viking_button1.png);
}
.physically_button {
    background-image: url(../images/physically_button1.png);
}
.skillfully_button {
    background-image: url(../images/skillfully_button1.png);
}
.changes{
    display: none;
}
.changes.active {
    display: inline-block;
    text-align: center;
}
.change {
    display: none;
}
.change.active {
    border-radius: 5%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    font-family: Adam;
    color: white;
    height: 280px;
    width: 350px;
}
a {
    text-decoration: none;
    color: white;
}
.pic {
    padding: 5px 10px 5px 10px;
    width: 147px;
    height: 240px;
}
.information {
    font-size: 13px;
    text-align: left;
}
.column {
    list-style-type: none;
    float: left;
    padding: 0 35px 5px 35px;
}
li {
    margin-top: 10px;
}
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}
footer a {
    margin: 0 7px 0 7px;
    font-size: 30px;
    display: inline-block;
}
.changes_buttons a {
    padding: 10px 120px 20px 120px;
    display: inline-block;
}
.changes_buttons {
    font-size: 20px;
    font-family: Adam;
    color: white;
}
.changes p {
    padding: 10px 30px 10px 30px;
    font-size: 30px;
    display: inline-block;
    color: white;
    font-family: Adam;
}
.gallery {
    display: none;
}
.gallery.active {
    display: block;
    padding-top: 20px;
    padding-bottom: 50px;    
}
#gallery_header {
    margin: 0px 0 20px 0;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: Adam;
    color: white;
}
.gallery_button {
    margin: 0 auto;
    background-image: url(../images/gallery_button.png);
}
.hexagons {
    margin-top: 40px;
}
.hexagon {
    display: none;
}
.hexagon.active {
    display: inline-block;
    margin: 10px;
    width: 180px;
    height: 102px;
    background: white;
    position: relative;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -52px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 52px solid white;
}
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -52px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 52px solid white;
}
.second-row {
    margin-top: 45px;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -50px; 
}
.page-wrap:after {
    content: "";
    display: block;
}
footer, .page-wrap:after {
    height: 50px; 
}