* {
    margin: 0;
    padding: 0;
}
html {
    background: url(images/background_2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
.physically {
    display: block;
    width: 400px;
    height: 220px;
    border: dashed black;
}
.changes {
    width: 400px;
    height: 200px;
}
.support1 {
    display: block;
    width: 50%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.before {
    float: left;
    background-image: url(images/before.jpg);
}
.after {
    float: right;
    background-image: url(images/after.jpg);
}